body {
  /* background-image: url('/hospital.jpg'); Make sure to replace with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}
#root {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9); /* Optional: semi-transparent background to enhance readability */
  min-height: 100vh;
}
.swiper-button-next,
.swiper-button-prev {
  color: blue; /* Change to your preferred color */
  width: 36px; /* Size of the arrows */
  height: 36px; /* Size of the arrows */
}

.arrow-prev,
.arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: blue; /* Change to your preferred color */
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.arrow-prev {
  left: 10px; /* Adjust positioning */
}

.arrow-next {
  right: 50px; /* Adjust positioning */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS or Home.tsx */


